  .episode {
    background-image: linear-gradient(#6d5dfc, #5b0eeb);
    color:white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 4px 4px 15px lightgray;
    cursor: pointer;
  }
  .episode:hover {
      transform: scale(1.1);
      transition: transform 1s, border 2s;
  }
